* {
    font-family: "Dancing Script",cursive, Serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body{
    background-image: url('../odin-recipes/images/background-img.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #f0f0f0;
}

h1{
    justify-self: center;
    color: wheat;
    text-shadow: 1px 1px 2px steelblue;
    font-size: 65px;
    margin: 20px 0; 
    text-align: center;
    letter-spacing: 1.5px;

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 50px 0 50px;
    justify-content: center;
    align-items: center;
}

.grid-item {
    text-align: center;
    background-color: antiquewhite;
    border: 1px solid wheat;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item img {
    width: 100%;
    height: 300px; 
    object-fit: cover; 
    display: block;
}

.grid-item a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 0;
    transition: color 0.3s ease;
    font-size: 40px;
}

.grid-item a:hover {
    color: orangered;
}
